:javascript
  $(document).ready(function() {
    $('#tabs').tabs();
  });

.container_12
  #sidebar_wrapper.grid_3
    #sidebar
      = render :partial => 'layouts/sidebar'
  #content_wrapper.grid_9
    .overlay
    #content
      %section
        %h2 
          Contact me
        %div
          Contact me at andrewyoo at gmail if you want to send me a message.
