.container_12
  #sidebar_wrapper.grid_3
    #sidebar
      = render :partial => 'layouts/sidebar'
  #content_wrapper.grid_9
    .overlay
    #content
      %section
        %h2 About Me
        .right.leftpad= image_tag 'andrew_face.jpg'
        %p My name is Andrew and i've been working in the tech/internet industry since 2006.  I started out working on my own website with some partners and since 2007 I have also been working professionally in San Francisco.
        %p I was born and raised in Los Angeles, CA.  Graduated no cum laude from UCLA in Electrical Engineering.  I am now working professionally as a web developer because electrical engineering was not for me.  What I like about programming is the ability to create useful tools and sites with very little resources other than time.  As I'm getting older though, time is becoming the most valuable resource I have...
        %p My professional passion is to create useful websites people love and hopefully will generate enough income to sustain my needs.  I hope you enjoy some of my projects and understand there is a lot of development work still to be had in most of them.

        %h2 
          Resume
          %small (Profiles)
        %div
          = link_to "LinkedIn", "http://www.linkedin.com/profile/view?id=6236169&authType=name&authToken=6n4-&locale=en_US&pvs=pp&trk=ppro_viewmore"
