:javascript
  $(document).ready(function() {
    $('#tabs').tabs();
  });

.container_12
  #sidebar_wrapper.grid_3
    #sidebar
      = render :partial => 'layouts/sidebar'
  #content_wrapper.grid_9
    .overlay
    #content
      %section
        %h2 
          Resume
          %small (Profiles)
        %div
          = link_to "LinkedIn", "http://www.linkedin.com/profile/view?id=6236169&authType=name&authToken=6n4-&locale=en_US&pvs=pp&trk=ppro_viewmore"
          %br/
          = link_to "Facebook", "http://www.facebook.com/andrew.yoo"
