#fb-root
#container.wrapper
  %ul#scene.scene.unselectable{"data-friction-x" => "0.1", "data-friction-y" => "0.1", "data-scalar-x" => "25", "data-scalar-y" => "15"}
    %li.layer{"data-depth" => "0.00"}
    %li.layer{"data-depth" => "0.10"}
      .background
    %li.layer{"data-depth" => "0.10"}
      .light.orange.b.phase-4
    %li.layer{"data-depth" => "0.10"}
      .light.purple.c.phase-5
    %li.layer{"data-depth" => "0.10"}
      .light.orange.d.phase-3
    %li.layer{"data-depth" => "0.15"}
      %ul.rope.depth-10
        %li
          %img{:alt => "Rope", :src => "assets/parallax/rope.png"}/
        %li.hanger.position-2
          .board.plank.swing-1
            .plank-label
              = link_to 'Projects', '/'
        %li.hanger.position-4
          .board.cloud-1.swing-3
        %li.hanger.position-8
          .board.birds.swing-5
    %li.layer{"data-depth" => "0.20"}
      %h1.title
        phacade
        %em .com
    %li.layer{"data-depth" => "0.30"}
      %ul.rope.depth-30
        %li
          %img{:alt => "Rope", :src => "assets/parallax/rope.png"}/
        %li.hanger.position-1
          .board.cloud-1.swing-3
        %li.hanger.position-5
          .board.cloud-4.swing-1
    %li.layer{"data-depth" => "0.30"}
      .wave.paint.depth-30
    %li.layer{"data-depth" => "0.40"}
      .wave.plain.depth-40
    %li.layer{"data-depth" => "0.50"}
      .wave.paint.depth-50
    %li.layer{"data-depth" => "0.60"}
      .ship.depth-60
    %li.layer{"data-depth" => "0.60"}
      %ul.rope.depth-60
        %li
          %img{:alt => "Rope", :src => "assets/parallax/rope.png"}/
        %li.hanger.position-3
          .board.birds.swing-5
        %li.hanger.position-6
          .board.cloud-2.swing-2
        %li.hanger.position-8
          .board.cloud-3.swing-4
    %li.layer{"data-depth" => "0.60"}
      .wave.plain.depth-60
    %li.layer{"data-depth" => "0.80"}
      .wave.plain.depth-80
    %li.layer{"data-depth" => "1.00"}
      .wave.paint.depth-100
